.container {
    box-sizing: border-box;
}

.mobile_top {
    width: 100%;
    display: none;
}

.mobile_bottom {
    display: none;
}

.menu_content_container {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0%;
    background-color: #fff;
    border-right: 1px solid #2e2e2e;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.menu_content_logo {
    text-align: center;
    padding: 30px 12px;
}

.menu_content_area {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.menu_content {
    padding: 12px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.menu_content a {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.menu_content span {
    margin: 0 15px;
    font-size: 16px;
}

.menu_content_more {
    margin-top: auto;
}
