.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
    margin-top: 100px;
    padding: 0 5%;
    height: 100%;
}

.img_area {
    width: 380px;
    margin-right: 5%;
}

.img_area img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.form_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    max-width: 350px;
    height: 100%;
}

.login_form_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    padding: 20px 0;
    background-color: #fff;
    height: 60%;
    margin-bottom: 10px;
}

.form_logo_area {
    width: 100%;
    height: 80px;
    text-align: center;
    background-size: cover;
    margin-bottom: 40px;
}

.form_logo {
    width: 80%;
    height: 100%;
}

.form_input_area {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}

.form_input_box {
    width: 80%;
}

.form_input_submit {
    width: 80%;
    padding: 10px 15px;
    margin-top: 30px !important;
}

.form_new_account_area {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .container {
        margin-top: 40px;
    }

    .img_area {
        display: none;
    }

    .form_area {
        width: 100%;
    }

    .social_login_content {
        width: 70%;
        padding: 5px 5px;
    }
}
